<html lang="en">
  
  <head></head>
  
  <body>{% load staticfiles %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Amon" />
    <title>InsScore Monitor</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="{% static 'css/metisMenu.min.css' %}" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="{% static 'css/admin.css' %}" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- 定义字体大小 -->
    <style type="text/css">body{ font-size:12px; line-height:24px;} .exp1{font-size:18px;} .exp2{font-size:xx-small;} .exp3{font-size:small;} .exp4{font-size:x-large;} .exp5{font-size:larger;} .exp6{font-size:smaller;} .exp7{font-size:50%;} .exp8{font-size:150%;}</style>
    <!-- <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>-->
    <div id="wrapper">
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
            <span class="fa fa-globe fa-fw"></span>&nbsp;&nbsp; Ins Monitor v1.0</a>
        </div>
        <div class="navbar-default sidebar" role="navigation">
          <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
              <li>
                <a href="{% url 'index' %}" style="font-size: 16px;">
                  <i class="fa fa-dashboard fa-fw" ></i>&nbsp;&nbsp; 首页</a>
              </li>
              <li>
                <!-- <a href="javascript:void(0)"><i class="fa fa-superpowers fa-fw"></i> &nbsp&nbsp InsScore <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                <li>
                <ul class="nav nav-third-level">
                <li>
                <a href="{% url 'pass_ratio' %}"> &nbsp&nbsp 通过率</a></li>
                </ul>
                <ul class="nav nav-third-level">
                <li>
                <a href="{% url 'ins_propor' %}"> &nbsp&nbsp 分数比</a></li>
                </ul>
                </li> -->
                <details class="menu" open="">
                  <summary>
                    <a href="javascript:void(0)" style="font-size: 16px;">
                      <i class="fa fa-superpowers fa-fw" ></i>&nbsp; 1. 数据呈现</a>
                  </summary>
                  <ul class="nav nav-second-level">
                    <li>
                      <ul class="nav nav-third-level" style="font-size: 14px;">
                        <a href="{% url 'pass_ratio' %} ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.1 通过率</a></ul>
                    </li>
                    <li>
                      <ul class="nav nav-third-level" style="font-size: 14px;">
                        <a href="{% url 'ins_propor' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.2 分数比</a></ul>
                    </li>

                    <li>
                          <ul class="nav nav-fourth-level" style="font-size: 14px;">
                              <a href="{% url 'fpd_ratio' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.3 月首逾</a></ul>
                          <ul class="nav nav-fourth-level" style="font-size: 14px;">
                            <a href="{% url 'fpd_ratio_day' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.4 天首逾</a></ul>
                      </li>
                  </ul>
                </details>
                <details class="menu" open="">
                <summary>
                  <a href="javascript:void(0)" style="font-size: 16px;">
                    <i class="fa fa-superpowers fa-fw" ></i>&nbsp; 2. 异常监测</a>
                </summary>
                <ul class="nav nav-second-level">
                  <li>
                    <ul class="nav nav-third-level" style="font-size: 14px;">
                      <a href="{% url 'abn_pass_ratio' %} ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.1 通过率</a></ul>
                  </li>
                </ul>
              </details>
              </li>
            </ul>
          </div>
        </div>
      </nav>{% block content %}{% endblock %}</div>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/base/bootstrap.min.js' %}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'js/base/metisMenu.min.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <!-- <script src="{% static 'js/app/admin.js' %}"></script> -->
    <!-- <script>
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    </script> -->
  </body>

</html>